/*header styles*/
header {
    width: 1320px;
    height: 600px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/Banner-Image.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    margin:0 auto;
}
.new-year{
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    margin-bottom: 0;
}
.celebration {
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
}
/*discount sec*/
.discount {
    font-family: Inter;
    color: #F00;
    margin:0 auto;
    text-align: center;
}
.discount-header{
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0;
}
.discount-info {
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 0;
}
.categories {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;   
}
/*midnight party sec*/
.midnight-party {
    background: linear-gradient( 90deg, #070211 0%, rgba(7, 2, 17, 0.00) ), url('images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin:0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 120px;
}
.party-text {
    text-align: justify;
    padding-left: 126px;
}
.party-header {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    
}
.party-info {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    display: block;
    line-height: 30px;
}

.img-year {
    width: 319.83px;
    height: 464.662px;
    margin-left: auto;
    margin-right: 138px;
}
button {
    background: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    border: 0;
}