/*header styles*/
header {
    width: 1320px;
    height: 600px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/Banner-Image.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    margin:0 auto;
}
.new-year{
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    margin-bottom: 0;
}
.celebration {
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
}
/*discount sec*/
.discount {
    font-family: Inter;
    color: #F00;
    width: 1600px;
    height: 7335px;
    margin:0 auto;
    text-align: center;
}
.discount-header{
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0;
}
.discount-info {
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 0;
}
.categories {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}